footer {
  background-color: #1d2220;
  padding: 100px 0;
  color: #fff;
  text-align: center;
}
footer h1 {
  margin-bottom: 30px;
  color: #e94560;
  font-weight: 800;
  font-style: italic;
  text-align: center;
}
footer .img {
  background-color: #0c2a4d;
  padding: 20px 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
  text-align: center;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
  cursor: pointer;
}
